body {
    background: rgb(36,217,224);
    background: radial-gradient(circle, rgba(36,217,224,1) 27%, rgba(0,131,152,1) 100%);
    margin: 0 auto;
    font-family: Helvetica;
    font-size: 16px;
    flex-direction: column;
}

h1 {
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

table {
    display: table;
    table-layout: auto;
    width: 90%;
}

th {
    background: black;
    padding: 0.5% 1%;
    color: white;
    vertical-align: middle;
}

tr {
    width:100%;
}

td {
    background: white;
    padding: 0.5% 1%;
    vertical-align: middle;
}

.centertd {
    text-align: center;
}

.greentd {
    background: green;
    text-align: center;
}

.yellowtd {
    background: yellow;
    text-align: center;
}

.redtd {
    background: red;
    text-align: center;
}

img {
    width: 50px;
}


  